body{
    margin: 0;
    padding: 0;
    background: linear-gradient( to left, rgb(94, 94, 167), rgb(1, 1, 73));
}

/*---------------------------------------------------TITRE PRINCIPAL-----------------------------------------------------*/

.titrePrincipal{
    text-align: center;
    font-family: Ranchers;
    font-size: 80px;
    color: #fffdfdd0;
    font-style: italic;
    text-shadow: 2px 2px 50px rgb(212, 21, 21);
}

/*--------------------------------------------------CONTENEUR ALL--------------------------------------------------------*/

.containerAll{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*------------------------------------------------DIV NOMS DES JOUEURS--------------------------------------------------*/

.playersNamesScore{
    background-color: rgb(194, 194, 194);
    width: 300px;
    height: 600px;
    border-radius: 20px;   
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

/*--------------------------------------------NOMS DES JOUEURS PLAYER1 PLAYERS2------------------------------------------*/

.player1{
    margin-bottom: 15px;
    font-size: 25px;
    text-align: center;
    color: #e64949;
    font-family: 'Shrikhand', cursive; 
    text-transform: uppercase;    
}

.player2{
    margin-top: 15px;    
    font-size: 25px;
    text-align: center;
    color: #e64949;
    font-family: 'Shrikhand', cursive;
    text-transform: uppercase;
}

/*------------------------------------------------------BARRE INPUT-----------------------------------------------------*/

input{
    width: 200px;
    height: 50px;
    border-radius: 5%;
    border: 2px solid #f34f4f;
    background-color: #9a9aad;
}

/*---------------------------------MODIFIE COULEUR TEXTE PLACEHOLDER DU INPUT--------------------------------------------*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fffdfdd0;
    font-size: 20px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #fffdfdd0;
    font-size: 20px;    
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #fffdfdd0;
    font-size: 20px;    
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #fffdfdd0;
    font-size: 20px;    
  }

/*-----------------------------------------------TITRE PSEUDOS DES JOUEURS-----------------------------------------------*/

.pseudosNames{
    font-family: 'Berkshire Swash', cursive; 
    font-weight: 100;
    font-size: 30px;    
    text-align: center;
    text-decoration: underline;
}

/*-------------------------------------------------------TABLEAU---------------------------------------------------------*/

table{
    width: 500px;
    height: 500px;
}

td{
    border: 1px solid #bd1212;
    border-radius: 40px;
    background-color: #ee7171; 
    opacity: 0.8;
    width: 160px;
    height: 160px;
}

td:hover {
    transform: scale(1.1,1.1);
    transition: transform 0.3s ease;
} 

/*--------------------------------------------------DIV REGLE DU JEU------------------------------------------------------*/

.gameRule{
    background-color: rgb(194, 194, 194);
    width: 300px;
    height: 450px;
    border-radius: 20px;
}

/*----------------------------------------------TITRE REGLE DU JEU-------------------------------------------------------*/

.titleGameRule{
    font-family: 'Berkshire Swash', cursive; 
    font-weight: 100;
    font-size: 30px;    
    text-align: center;
    text-decoration: underline;
}

/*------------------------------------------PARAGRAPHE REGLE DU JEU------------------------------------------------------*/

.paraRule{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px; 
}

/*----------------------------------------------IMAGE REGLE DU JEU-------------------------------------------------------*/

.picGameRule{
    width: 220px;
    height: 220px;
    margin: 10px;
    margin-left: 36px;
    margin-bottom: 0;
    border: 2px solid #000000;
}

/*-----------------------------------------BOUTON SMILEY ROND DU JEU ----------------------------------------------------*/ 

.rond{
    width: 128px;
    height: 128px;
    margin: 10px auto;    
    background-image: url(img/rond.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

/*-----------------------------------------BOUTON CROIX DU JEU ----------------------------------------------------*/ 

.croix{
    width: 128px;
    height: 128px;
    background-image: url('img/croix.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 10px auto;
}